body {
    background-color: white;
    color: black;
    font-size: 12vh;
    font-family: Raleway, Ubuntu, sans-serif;
}
main {
    font-size: 1.7em;
    font-weight: bold;
}
main img {
    height: 4em;
    vertical-align: middle;
}
header, footer {
    font-size: 0.7em;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header {
    order: 1;
}

footer {
    order: 2;
}

main {
    order: 3;
    flex: 1 100%;
}
